:root{
    --fuentePrincipal: 'Poppins', sans-serif;
    --colorPrimario:#032890;
    --colorFondo:#ffffff;
    --colorBlanco:#ffffff;
    --colorWhatsapp:#2EB343;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    background-color: var(--colorFondo);
    line-height: 1.5;
}
/**GLOBALES**/

.menu a{
    text-decoration: none;
}

.contenedor{
    width:min(90%,120rem);
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

/****MENU***/
/**MENU**/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}
/* HEADER SUPERIOR */
.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo img{
    width: 150px;
}
.search input{
    width: 300px;
    padding: 10px;
}
/* *BARRA MENU* */
.container__menu{
    font-family: var(--fuentePrincipal);
    width: 100% ;
    height: 70px;
    background: var(--colorPrimario);
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
li{
    list-style: none;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li:first-child > a{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
nav > ul > li:first-child:hover > a{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    color: #fff;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #0f3dbe;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}
#selected{
    transform: scale(1.1);
    background-color: #0f46dc;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
/* #selected:hover{
    transform: scale(1.1);
    background-color: #0f46dc;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

} */
/* SUBMENU */
nav > ul > li > ul{
    width: 200px;
    /* display: flex;
    flex-direction: column; */
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    display: none;
    /* visibility: hidden; */
    /* opacity: 0; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}
nav > ul > li:hover > ul{
    /* visibility: visible; */
    /* opacity: 1; */
    display: block;
    top: 70px;
}
nav > ul > li > ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav > ul > li > ul > li > a{
    display: block;
    color: #0f46dc;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav > ul > li > ul > li > a:hover{
    background: #0f3dbe;
    color: #000;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    
}
nav > ul > li > ul > li >ul >li > a{
    display: none;
    color: red;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav > ul > li > ul > li > ul > li > a:hover{
    display: none;
    background: #000;
    color: #fff;
    transform: scale(2.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    
    
}


.titulo h1{
    text-align: center;
    margin: 5rem 0;
    color: var(--colorPrimario);
    font-size: 5rem;
}
.menu-inicial{
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

.menu-inicial li{
    text-align: left;
}

.submenu {
    display: none;
}
.li-padre:hover .submenu {
    display: block;
}

li{
    text-decoration: none;
    list-style: none;
    text-align: center;

}

/**SLIDER**/
.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/slider2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    padding-top: 3rem;
    animation: animate 10s infinite;
    transition: 0.5s;
    position:static;
    margin-top: 17rem;
}

@media (min-width: 768px) { 
    .slider{
        height: 620px;
    }
 }

@keyframes animate{
    20%{
        background-image: url(../img/slider3.png);
        background-size: cover;
    }

    40%{
        background-image: url(../img/slider1.png);
        background-size: cover;
    }

    80%{
        background-image: url(../img/slider2.png);
        background-size: cover;
    }
    100%{
        background-image: url(../img/slider1.png);
        background-size: cover;
    }

}


/**SLIDER**/
.titulo{
    color:var(--colorBlanco)
}

.titulo h2{
    color:var(--colorBlanco);
    font-size: 4rem;
    margin: 0;
}

@media (min-width: 768px) { 
    .titulo h2{
        color:var(--colorBlanco);
        font-size: 10rem;
        margin: 0;
    }
 }

.titulo p{
    font-size: 3rem;
    padding-bottom: 3rem;
}

.botones{
    display: flex;
    column-gap: 2rem;
}

.boton{
    text-decoration: none;
    color: var(--colorBlanco);
    background-color: var(--colorPrimario);
    padding: 1.7rem 2.7rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s; 
    cursor: pointer;
}

@media (min-width: 768px) { 
    .boton{
        text-decoration: none;
        color: var(--colorBlanco);
        background-color: var(--colorPrimario);
        padding: 2rem 3rem;
        font-size: 1.5rem;
    }
    .boton:hover{
        text-decoration: none;
        color: var(--colorPrimario);
        background-color: var(--colorBlanco);
        padding: 2rem 3rem;
        font-size: 1.6rem;
    }
 }

.boton:hover{
    text-decoration: none;
    color: var(--colorPrimario);
    background-color: var(--colorBlanco);
    padding: 1.6rem 2.7rem;
    font-size: 1.6rem;
}


/**MAIN**/
.main{
    text-align: center;
    margin-bottom: 10rem;
}

.main h2{
    font-size: 3rem;
}

@media (min-width: 768px) { 
    .main h2{
        font-size: 3.5rem;
    }
 }

.galeria-principal{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}

@media (min-width: 768px) { 
    .galeria-principal{
        display: grid;
        grid-template-columns: repeat(5,1fr);

    }
 }

.galeria-principal__uno h3{
    color: #032890;
    font-weight: bold;
    cursor: pointer;
}

.galeria-principal__uno img{
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40); /* Estándar */
    transition: 1s;
    cursor: pointer;
}

.galeria-principal__uno img:hover{
    transform: scale(1.05); /* La imagen se amplía ligeramente */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);/* Estándar */
}

.boton-whasatpp{
    text-decoration: none;
    color: var(--colorBlanco);
    background-color: var(--colorPrimario);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s; 
    cursor: pointer;
    border-bottom-right-radius:30px;
    border-top-left-radius:30px;
}
.boton-whasatpp:hover{
    text-decoration: none;
    color: var(--colorBlanco);
    background-color: var(--colorWhatsapp);
    padding: 1.2rem 2.2rem;
    font-size: 1.6rem;
}

/**PAGOS UN DIV**/

.pagos{
    background: linear-gradient(#032890, #00a2ff);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:0 2rem;
    margin: 5rem 0;
    border-radius: 20px;
    color: var(--colorBlanco);
}


@media (min-width:768px) { 
    .pagos{
        background: linear-gradient(#032890, #00a2ff);
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding:0 2rem;
        margin: 5rem 0;
        border-radius: 20px;
        color: var(--colorBlanco);
    }
 }

.pago-descripcion{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    padding:2rem 0;
}

.linea-vertical-rojo{
    border-left: 5px solid red;
    height:8rem;
    margin:2rem 1rem;
}
.linea-vertical-verde{
    border-left: 5px solid green;
    height:8rem;
    margin:2rem 1rem;
}

.linea-vertical-amarillo{
    border-left: 5px solid yellow;
    height:8rem;
    margin:2rem 1rem;
}

.pago-descripcion h4,
.pago-descripcion p{
   padding: 0;
   margin: 0;
}
.pagos-imagenes{
    border-bottom: 3px solid #0086E5;
    border-top: 3px solid #0086E5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    align-items: center;
    background-color: white;
    padding: 0 1rem;
   
}

@media (min-width: 768px) { 
    .pagos-imagenes{
            grid-template-columns: repeat(3,2fr);
    }
 }

/* SERVICIOS */
.contenedor_servicios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row-reverse; */
    /* height:100px; */

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 4rem 0;
    margin-bottom: 40px;
}
.contenedor__servicios{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    /* row-gap: 50px; */
}
.contenedor__servicios svg{
    transition: all ease 0.3s;
}
  
.contenedor__servicios svg:hover{
    transform: scale(0.9);
}
.contenedor__servicios_info{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    justify-content:center;
    align-items: start;
    
}
.contenedor__servicios_info h4, .contenedor__servicios_info 
p{
    margin: 0px;
}
/* FIN SERVICIOS */
/* INICIO DESCUENTO */
.descuento{
    background: var(--colorPrimario);    /* background-size: cover;
    background-repeat: no-repeat; */
    height: 17.3rem;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
    text-decoration: none;
    text-transform: uppercase;

}
.descuento img{
    width: 15rem;
    transform: scale(1.1);
}

.descuento_info{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    column-gap: 1.5rem;
    
}
.descuento_info .descuento_p p{
    margin: 0;
    color: #999999;
}
.descuento_info .descuento_p p:first-child{
    color: var(--colorBlanco);
    font-size: 2rem;
    font-weight: 600;
}
.descuento_licencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: none;
    color: #999999;
}
.contenedor  a{
    text-decoration: none;
    color: var(--colorBlanco);
}
.contenedor .descuento_btn{
    border:0.2rem solid var(--colorBlanco);
    border-radius: 0.5rem;
    padding: 1rem;
}
.contenedor .licencia_btn{
    background: #C01818;
    padding: 1rem;
}
.btn{
    border-radius: 0.2rem;
}
/* Fin descuento */

/* INICIO FOOTER */
footer .head{
    display: flex;
    justify-content: center;
    /* row-gap: 100px; */
    gap: 50px;
}
.head h3 ,.head p{
    margin:10px auto;
}
.head h3{
    font-size: 1.6rem;
}
.head p{
    font-size: 1.4rem;
}
/* FIN FOOTER */
/* .promo{
    display: flex;
    flex-direction: column;
}*/
.informacion .informacion_email{
    display: flex;
    /* flex-direction: column; */
} 
.informacion .informacion_btn{
    background: #C01818;
    border-radius: 0.2rem;
    padding:1rem 3.5rem;
}
/* FIN FOOTER */
/**PRODUCTOS VARIADOS**/

.productos-variados{
    margin-bottom: 10rem;
}

.productos-variados h2{
    margin-bottom: 2rem;
}

.productos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 2rem;
}

@media (min-width:768px) { 
    .productos{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 4rem;
    }
 }

.producto img{
    cursor: pointer;
    display: block;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out;
}

.producto img:hover{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    
}

.precio{
    color: var(--colorPrimario);
    font-weight: bold;
    font-size: 1.7rem;
}

.compra{
    display: grid;
    grid-template-columns:10rem 1fr;
    align-items: center;
    text-align: center;
    column-gap: 2rem;
}

.boton-compra{
    text-decoration: none;
    color: var(--colorBlanco);
    background-color: var(--colorPrimario);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s; 
    cursor: pointer;
    
}
.boton-compra:hover{
    text-decoration: none;
    color: var(--colorBlanco);
    background-color: red;
    padding: 1.2rem 2.2rem;
    font-size: 1.6rem;
}

.precio{
    color: var(--colorPrimario);
    padding: 2rem 0;
    border:4px dotted var(--colorPrimario)
}
