:root{
    --fuentePrincipal: 'Poppins', sans-serif;
    --colorPrimario:#032890;
    --colorFondo:#ffffff;
    --colorBlanco:#ffffff;
    --colorWhatsapp:#2EB343;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    background-color: var(--colorFondo);
    line-height: 1.5;
}
/**GLOBALES**/

.menu a{
    text-decoration: none;
    color: var(--colorPrimario);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s; 
}

.contenedor{
    width:min(90%,120rem);
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

/****MENU***/
header{
    
}
.titulo h1{
    text-align: center;
    margin: 5rem 0;
    color: var(--colorPrimario);
    font-size: 5rem;
}
.menu-inicial{
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

.menu-inicial li{
    text-align: left;
}

.submenu {
    display: none;
}
.li-padre:hover .submenu {
    display: block;
}

li{
    text-decoration: none;
    list-style: none;
    text-align: center;

}
/**SLIDER**/



.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/slider2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    position: relative;
    padding-top: 3rem;
    animation: animate 10s infinite;
    transition: 0.5s;
}

@keyframes animate{
    20%{
        background-image: url(../img/slider3.png);
        background-size: cover;
    }

    40%{
        background-image: url(../img/slider1.png);
        background-size: cover;
    }

    80%{
        background-image: url(../img/slider2.png);
        background-size: cover;
    }
    100%{
        background-image: url(../img/slider1.png);
        background-size: cover;
    }

}


/**SLIDER**/

.titulo{
    color:var(--colorBlanco)
}

.titulo h2{
    color:var(--colorBlanco);
    font-size: 10rem;
    margin: 0;
}
.titulo p{
    font-size: 3rem;
    padding-bottom: 3rem;
}

.botones{
    display: flex;
    column-gap: 2rem;
}

.boton{
    text-decoration: none;
    color: var(--colorBlanco);
    background-color: var(--colorPrimario);
    padding: 2rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s; 
    cursor: pointer;
}

.boton:hover{
    text-decoration: none;
    color: var(--colorPrimario);
    background-color: var(--colorBlanco);
    padding: 2rem 3rem;
    font-size: 1.6rem;
}


/**MAIN**/
.main{
    text-align: center;
    margin-bottom: 10rem;
}

.main h2{
    font-size: 3.5rem;
}

.galeria-principal{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 2rem;
    

}

.galeria-principal__uno h3{
    color: #032890;
    font-weight: bold;
    cursor: pointer;
}

.galeria-principal__uno img{
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40); /* Estándar */
    transition: 1s;
    cursor: pointer;
}

.galeria-principal__uno img:hover{
    transform: scale(1.05); /* La imagen se amplía ligeramente */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);/* Estándar */
}

.boton-whasatpp{
    text-decoration: none;
    color: var(--colorBlanco);
    background-color: var(--colorPrimario);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s; 
    cursor: pointer;
    border-bottom-right-radius:30px;
    border-top-left-radius:30px;
}
.boton-whasatpp:hover{
    text-decoration: none;
    color: var(--colorBlanco);
    background-color: var(--colorWhatsapp);
    padding: 1.2rem 2.2rem;
    font-size: 1.6rem;
}